body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: orange;
}

header {
	font-family: monospace;
	padding: 5px 10px 0 5px;
}

.header__title {
	font-weight: bold;
	font-size: 2em;
	padding: 3px 5px;
	float: left;
	text-shadow: 0 0 3px white;
}

.header__right {
	padding-top: 2px;
	float: right;
}

header::after {
	content: "";
	clear: both;
	display: table;
}

main {
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: space-between;
	padding: 5px;
	height: 100%;
}

@media only screen and (max-width: 715px) {
	main {
		flex-direction: column;
	}

	.editor {
		margin-right: 0 !important;
	}

	.preview {
		margin-top: 5px;
	}

	.divider {
		display: none;
	}
}

.editor {
	display: flex;
	flex-direction: column;
	flex-basis: 35%;
}

.preview {
	position: relative;
	width: 100%;
	flex: 1 0 0;

	box-sizing: border-box;
	overflow: auto;
	background-color: white; 
	border: 1px solid darkorange;
	border-right: 1px solid rgb(221, 121, 0);
	border-bottom: 1px solid rgb(221, 121, 0);
	padding: 10px 0;
	text-align: center;
}

.preview.fit {
	text-align: unset;
}

.preview.fit svg {
	width: 100%;
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
	position: absolute; /* don't take space so we can measure .preview and resize svg to fit */
}

